body{
    background-color: rgb(170, 138, 100);
}
#black-and-lighter {
    font-weight: lighter;
    color: black;
}
.red-and-bold {
    font-weight: bold;
    color: green;
}
#centrarrojo{
    text-align: center;
    font-style: normal;
}
.rojo{
color: blue;
font-style: italic;
}
div {
    color: red;
    text-align: center;
    font-size: x-large;
    font-style: italic;
}