#black-and-lighter {
    font-weight: lighter;
    color: black;
}
.red-and-bold {
    font-weight: bold;
    color: green;
}
div {
    color: red;
}
.centrar{
    text-align: center;
}
.rojo{
color: blue;
}