body{
    background-color: rgba(0, 255, 255, 0.26);
}
p{
    color: darkmagenta;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: burlywood;
}
iframe{
    border-radius: 20%;
    display: block;
    margin: auto;
    text-align: center;
}
h2{
    text-align: center;
}
footer{
    background-color: black;
}
.saludos{
    color: beige;
}