h1{
    word-spacing: 10px;
    text-shadow: 3px 2px red;
    font-size: 45px;
    font-family: 'Koulen', cursive;
}
h2{
    word-spacing: -2px;
    font-size: 1.875em;
    font-family: 'Koulen', cursive;
}
p{
    font-size: 35px;
    font-family: 'Koulen', cursive;
}
p.serif{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
p.sanserif{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
p.normal{
    font-style: normal;
    font-variant: normal;
}
p.italic{
    font-style: italic;
}
p.oblique{
    font-style: oblique;
}
p.norm{
    font-weight: normal;
}
p.light{
    font-weight: lighter;
}
p.thick{
    font-weight: bold;
}
p.thicker{
    font-weight: 900;
}
p.samll{
    text-transform: uppercase;
    font-variant: small-caps;
}
.middle > *{
    vertical-align: middle;
}
.top > *{
    vertical-align: top;
}
.bottom > *{
    vertical-align: bottom;
}
h2.b{
    display: inline-block;
    margin: 0;
    width: 150px;
    text-align: right;
    font: bold 20px Sans-Serif;
}
div{
    margin: 0 0 30px 0;
    padding: 10px;
}